@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
body
{
    background: rgb(33, 37, 41);
    font-family: 'Yatra One', cursive;
}
.bigBox
{
    width: 1000px;
    height: 700px;
    background: white;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 3%;
    padding: 30px;
    display: flex;
}
.box1 img
{
    width: 450px;
    height: 690px;
    border: black solid 1px;
}
.box2
{
    padding: 20px;
}
h1
{
    font-size: 42px;
}
.ban
{
    height: 15px;
    border: black solid 1px;
}
.ban2
{
    height: 50px;
    display: flex;
}
.title
{
    text-decoration: underline black 2px;
    
}